/*Our works*/
.works {
	padding: 5rem 0;
}

.works img {
	margin-bottom: 3rem;
}

.works a[data-fancybox="gallery"] .lupa {
	/* position: ; */
	top: 0;
	left: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 40%;
	opacity: 0;
	-webkit-transition: ease 0.2s;
	transition: ease 0.2s;
}

.works a[data-fancybox="gallery"]:hover .lupa {
	opacity: 1;
}
